<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "0",
  num2: "0",
  result: 0,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>

<template>
  <div id="app" class="card">
    <div>
      <input
        type="text"
        ref="num1"
        v-model="state.num1"
        class="center_text w100px"
      />
    </div>
    <div class="center_text git">+</div>
    <div>
      <input
        type="text"
        ref="num2"
        v-model="state.num2"
        class="center_text w100px"
      />
    </div>
    <button class="center_text w100px" @click="doAdd()">=</button>
    <div ref="result" class="center_text">{{ state.result }}</div>
    <div>{{ state.num1 }} + {{ state.num2 }} = {{ result }}</div>
  </div>
</template>

<style>
.center_text {
  text-align: center;
  font-size: 15pt;
  margin: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: lightblue;
  width: 200px;
  text-align: center;
  /* padding: 10px; */
  border-style: solid;
}

.bold_text {
  font-weight: bold;
}

.w100px {
  width: 100px;
}
</style>
